In [ ]:
!pip3 install numpy pandas mysql-connector-python sqlalchemy

In [1]:
import pandas as pd

config = {
    'ip': '192.168.200.25',
    'port': '3306',
    'db': 'db_bat_blk2',
    'username': 'sml_training',
    'password': '123456'
}

connection = f"""mysql+mysqlconnector://{config['username']}:{config['password']}@{config['ip']}:{config['port']}/{config['db']}"""
print(f"Konfigurasi koneksi : `{connection}`")

Konfigurasi koneksi : `mysql+mysqlconnector://sml_training:123456@192.168.200.25:3306/db_bat_blk2`

In [2]:
query = """SELECT NOW() AS f_date_rec, f_address_no, f_value 
    FROM tb_bat_raw WHERE f_address_no IN (
        SELECT DISTINCT(f_address_no) FROM tb_efficiency_conf_tags
    ) """
DF = pd.read_sql(query, connection)
DF

            f_date_rec f_address_no             f_value
0  2023-11-28 22:08:23      A2AT101   9.317948341369629
1  2023-11-28 22:08:23      A2AT102   6.343589782714844
2  2023-11-28 22:08:23    A2G_Power  15.814492225646973
3  2023-11-28 22:08:23   A2M105A_A1   4.742368698120117
4  2023-11-28 22:08:23   A2M105B_A1   5.142857551574707
5  2023-11-28 22:08:23   A2M105C_A1     5.3675217628479
6  2023-11-28 22:08:23     A2TE101A  481.17218017578125
7  2023-11-28 22:08:23     A2TE111A  172.03907775878906
8  2023-11-28 22:08:23     A2TE111B   176.6788787841797
9  2023-11-28 22:08:23     A2TE114A  173.87057495117188
10 2023-11-28 22:08:23     A2TE114B   182.2954864501953
11 2023-11-28 22:08:23     A2TE115A   938.3150634765625
12 2023-11-28 22:08:23     A2TE115B   899.3406982421875
13 2023-11-28 22:08:23     A2TE115C   888.4981689453125
14 2023-11-28 22:08:23     A2TE115D    930.989013671875
15 2023-11-28 22:08:23     A2TE125A  188.54701232910156
16 2023-11-28 22:08:23     A2TE125B  200.08547973632812
17 2023-11-28 22:08:23     A2TE126A   134.4932861328125
18 2023-11-28 22:08:23     A2TE126B   150.6715545654297
19 2023-11-28 22:08:23   B1FT103A_1  1.8739081621170044
20 2023-11-28 22:08:23   B1FT103B_1  1.4277790784835815